*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}   

.data-da-noticia{
    color: #ccc;
    font-size:smaller;
}

#menu-1 {
    list-style: none;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

#menu-1 li,
h1 {
    display: inline;
    color: #fff;
}

#menu-1 li a {
    color: rgba(255, 255, 255, 0.959);
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
#menu-1 li a:hover {
    background-color: rgb(45, 59, 248);
}
.container {
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.articles article img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    color: rgb(10, 10, 10);
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
    background-color: rgb(40, 233, 137);
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}
.articles article h3 {
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#tecnologia {
    background-color: rgb(61, 153, 165);
}

# tecnologia .articles article a {
    background-color: #693469;
}

#entretenimento {
    background-color: powderblue;
}