*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

body > header {
    background-color: rgba(1, 7, 56, 0.151);
    padding: 16px 0;
}

header .container {
    display:flex
    
}

.data-da-noticia{
    color: #ccc;
    font-size:smaller;
}

header li {
    display: inline;
}

header li a {
    color: rgb(20, 19, 19);
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 31%;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(0, 0, 82);
    color: #fff;
    padding: 8px;
    display: inline-block;
}